*{
  margin: 0;
  padding: 0；
  font-family:"Microsoft Yahei",webfont;
}
body {
  background-color: #DEDEDE;
  min-width: 1200px;
}

.header {
  background-color: #333333;
}
.header-main {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    height: 60px;
}
.header-main img{
    position: absolute;
    height: 60px;
    bottom:10px;
    left: 0;
}
.header-main ul {
    position: absolute;
    top: 20px;
    right: 0;
    list-style: circle inside black;
}
.header-main li {
    float: left;
    margin: 0 15px;
    font-size: 14px;
}
.header-main a:link, .header-main a:visited {
    color: #fff;
    text-decoration: none;
}
.header-main a:hover, .header-main a:active {
    color: #9ba2ac;
    text-decoration: none;
}

.post, .pic, .sidebar {
  width: 1130px;
  padding: 40px 30px 20px;
  margin: 20px auto;
  background-color: #fff;
  border: thin solid rgb(203, 203, 203);
  box-shadow:3px 3px 5px #9f9f9f;
}

.post .subtitle {
  font-size: 18px;
  color: rgb(121, 124, 128);
}

.post .post-info {
  font-size: 14px;
  color: rgb(121, 124, 128);
}

.post .content p {
  text-indent: 2em;
}

.post .content ul {
  list-style-type: none;
}

.post .content ul li {
  margin: 10px 0px;
}

.post .content table {
  width: 100%;
  font-size: 13px;
  border-collapse:collapse;
  border: solid 1px rgb(170,170,170);
}

.post .content tr:last-child {
  background-color: rgb(170,170,170);
}

.post .content tr th {
  padding: 5px;
  text-align: left;
  color: rgb(255, 255, 255);
  background-color: rgb(18, 19, 17);
}

.post .content tr td {
  padding: 5px;
}

.pic .pic-item {
  margin: 20px;
  width: 240px;
  border: solid 1px rgb(170,170,170);
}

.pic .pic-item p {
  text-align: center;
}

.pic .pic-item img {
  width: 200px;
  height: 130px;
  margin: 0px 20px 20px;
}

.sidebar .content h2 {
  padding: 0px 10px;
  border-left: solid 3px rgb(170,170,170);
}

.sidebar .form-group {
  margin: 20px 0px;
}

.sidebar .form-group label {
  width: 30%;
  float: left;
  text-align: right;
}

.sidebar .form-error {
  margin-left: 30%;
  font-size: 14px;
  color: rgb(170,170,170);
}

.sidebar input[type='submit'] {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(28, 99, 221);
}

.footer {
    height: 70px;
    background-color: #000;
    min-width: 1200px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 64px;
}